# Dependencies
Django==1.11
python-frontmatter==0.4.2
django-bakery==0.12.3
PyYAML==3.11
validictory==1.0.1
django-compressor==2.0
greeking==2.2.0
python-dateutil>=2.6.0
archieml>=0.3.1
django-jsonfield>=1.0.1
GitPython
pytz
six

# Documentation
sphinx
sphinx-autobuild

# Testing
flake8
coverage
coveralls

# Packaging
twine
