<div class="legend-inner">
    <div class="legend-title"><strong><%- title %></strong></div>

    <style type="text/css">
        .legend-key { width: <% print(100/Object.keys(items).length) %>%; text-align: <%- align %> }
    </style>

    <% _.each(items, function(key, val) { %>
        <div class="legend-key" style="border-top:10px solid <%- key %>;"><span> <%- val %></span></div>
    <% }); %>
</div>
